<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.test.warehouseend.mapper.FoodMapper">

    <resultMap id="BaseResultMap" type="com.test.warehouseend.model.domain.Food">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="type" column="type" jdbcType="VARCHAR"/>
            <result property="inventory" column="inventory" jdbcType="INTEGER"/>
            <result property="unit" column="unit" jdbcType="VARCHAR"/>
            <result property="productDate" column="productDate" jdbcType="DATE"/>
            <result property="sellByDate" column="sellByDate" jdbcType="DATE"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="isDelete" column="isDelete" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,type,
        inventory,unit,productDate,
        sellByDate,createTime,updateTime,
        isDelete
    </sql>
    <select id="selectByPage" resultType="com.test.warehouseend.model.domain.Food">
        SELECT * FROM food
            LIMIT #{limit} OFFSET #{offset}
    </select>
</mapper>
